h1 {
    text-align: center;
}

h2{
    text-align: center;
}

body {
    background: azure;
}

p {
    color:DimGrey;
}

li {
    color:DimGrey;
    text-align:center
}

.test {
    border-style: solid;
    border-color: red;
    border-width: 1px;
}